* {
  @include resetAll;
}

.logo {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  color: $logoCl;
}

.container {
  width: 100%;
  padding: 5px;
  @media only screen and (min-width: 365px) {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
  }
}

li {
  cursor: pointer;
}

// HEADER FIRST CONTENT

.first_content {
  width: 100%;
  height: 130px;
  padding: 30px;
  background-color: $hfBkgCl;
  @include displayFlex;

  .menu {
    width: 20%;
    height: 70%;

    .menu__button {
      width: 100%;
      height: 90%;
      background-color: #a667d0;
      border: 1px solid #a667d0;
      border-radius: 5px;
      @media only screen and (min-width: 365px) {
        display: none;
      }
    }
  }

  .navigation {
    display: none;
    @media only screen and (min-width: 365px) {
      width: 70%;
      color: $wCl;
      display: flex;
      align-items: center;
    }

    .navigation__main__list {
      width: 70%;

      .navigation__list {
        list-style-type: none;
        display: flex;

        .hover:hover .navigation__list__child {
          display: block;
        }

        .navigation__item {
          padding-right: 20px;
          position: relative;

          .navigation__list__child {
            font-size: 14px;
            list-style-type: none;
            background-color: $hfBkgCl;
            border: 1px solid $hfBkgCl;
            border-radius: 0 0 10px 10px;
            display: none;
            position: absolute;
            padding: 10px;

            li {
              padding-bottom: 10px;
            }
          }

          .navigation__link {
            text-decoration: none;
            color: $wCl;
          }
        }

      }
    }

    .navigation__secondary__list {
      width: 30%;

      .navigation__list {
        list-style-type: none;
        display: flex;
        justify-content: space-around;

        .hover:hover .navigation__list__child {
          display: block;
        }

        .navigation__item {
          padding-right: 20px;
          position: relative;

          .navigation__list__child {
            font-size: 14px;
            list-style-type: none;
            border: 1px solid $hfBkgCl;
            border-radius: 0 0 10px 10px;
            background-color: $hfBkgCl;
            display: none;
            position: absolute;
            padding: 10px;

            li {
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

// HEADER SECOND CONTENT

.second_content {
  width: 100%;
  height: 900px;
  color: $hfBkgCl;
  background-color: #c391e0;
  @include bkgImg;
  background-attachment: fixed;
  display: flex;
  align-items: center;

  .container {
    @include displayFlex;
    flex-direction: column;

    h1, h3 {
      padding-bottom: 20px;
    }

    .search__cities {
      height: 50px;
      padding-top: 5px;
      background-color: $wCl;
      border-radius: 15px;
      border: 3px solid #a667d0;
      display: flex;

      div.search {
        width: 10%;
        background-color: $wCl;
        border-radius: 15px 0 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      input.search {
        width: 65%;
        height: 100%;
        border: 1px solid $wCl;
      }

      button.search {
        //width: 25%;
        width:50px;
        height: 100%;
        color: $wCl;
        border: 1px solid $wCl;
        border-radius: 15px;
        background-color: $hfBkgCl;
      }
    }
  }
}

// SECTION GALLERY

.gallery {
  color: $wCl;
  margin: 10px 0;
  position: relative;

  ul {
    .hide_cities {
      display: none;
      @media only screen and (min-width: 365px) {
        display: flex;
      }
    }

    .last_li {
      margin-right: 0;
    }

    @media only screen and (min-width: 365px) {
      display: flex;
      justify-content: center;

    }
  }

  .arrow_left {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #a667d0;
    background-color: #a667d0;
    position: absolute;
    top: 140px;
    left: -10px;
  }

  .arrow_right {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #a667d0;
    background-color: #a667d0;
    position: absolute;
    top: 140px;
    right: -10px;
  }

  li {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(222, 169, 231, 1) 0%, rgba(45, 245, 253, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    @media only screen and (min-width: 365px) {
      width: 40%;
      margin-right: 10px;
    }
  }
}

// SECTION PORTFOLIO

.portfolio {
  background-color: $wCl;

  .portfolio__header {
    height: 200px;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h2 {
      padding-bottom: 20px;
    }

    h2::after {
      content: "";
      display: block;
      width: 30%;
      height: 5px;
      background-color: $logoCl;
      position: absolute;
      top: 100px;
      left: 120px;
      @media only screen and (min-width: 365px) {
        width: 10%;
        top: 100px;
        left: 560px;
      }
    }
  }

  .portfolio__cards {
    color: $wCl;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .portfolio__card {
      width: 90%;
      height: 300px;
      border-radius: 30px;
      padding: 30px;
      margin-bottom: 15px;
      @include bkgImg;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media only screen and (min-width: 365px) {
        width: 40%;
      }

      div, p {
        display: none;
      }
    }

    .portfolio__card__shown {
      width: 100%;
      //height: 300px;
      height: 100%;
      color:$wCl;
      border-radius: 30px;
      padding: 20px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: fixed;
      top: 5px;
      z-index: 1;
      background-color:#c391e0;

      .imgCity {
        width:150px;
        height: 70px;
        padding-top: 5px;
        @media only screen and (min-width: 365px) {
          width:60%;
          height: 300px;
          padding-bottom: 10px;
        }
      }

      .mapImg {
        width:300px;
        height: 50px;
        padding-top: 5px;
        @media only screen and (min-width: 365px) {
          width:100%;
          height: 100px;
          padding-bottom: 10px;
        }
      }

      @media only screen and (min-width: 365px) {
        width: 40%;
      }

      div, p {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
}

// FOOTER

footer {
  width: 100%;
  color: $wCl;

  .footer__contact {
    background-color: #a667d0;
    padding-bottom: 90px;
    @media only screen and (min-width: 365px) {
      padding-bottom: 10px;
    }

    .container {
      height: 400px;
      flex-direction: column;
      @media only screen and (min-width: 365px) {
        height: 350px;
        @include displayFlex;
        flex-direction: row;
      }

      .footer__contact__logo {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          margin-bottom: 15px;
        }

        h4 {
          text-align: center;
        }
      }

      .footer__contact__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 365px) {
          width: 35%;
        }

        input, textarea, button {
          width: 100%;
          padding: 10px;
          color: $wCl;
          font-weight: 900;
          margin-bottom: 10px;
          border: 1px solid #c391e0;
          border-radius: 30px;
          background-color: #c391e0;
        }

        fieldset {
          border: 1px solid #a667d0;
          padding-top: 10px;
          font-weight: bolder;
        }

        legend,span {
          font-size: 13px;
        }

      }
    }
  }

  .footer__bar {
    background-color: $hfBkgCl;

    .container {
      height: 80px;
      @include displayFlex;

      .long {
        display: none;
        @media only screen and (min-width: 365px) {
          display: block;
        }
      }

      .short {
        display: none;
        @media only screen and (max-width: 364px) {
          display: block;
        }
      }

      .footer__bar__social {
        @include displayFlex;

        p {
          margin-right: 20px;
        }
      }
    }
  }
}



